[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
pip = "*"
pipdeptree = "*"

[dev-packages]

[requires]
python_version = "3.9"
